name: CD C
on: 
  workflow_run:
    workflows: ["CICD Clanguage"]
    types:
      - completed

jobs:
  deploy-release:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
      packages: write
# S'exécute uniquement sur les tags et si la compilation a réussi
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_branch, 'v')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo download artifacts
        uses: actions/download-artifact@v6
        with:
          name: sysinfo-${{ github.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }} 
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: sysinfo
          draft: false
          generate_release_notes: true
          tag_name: ${{ github.event.workflow_run.head_branch }}

  official_documentation:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: python env
        uses: actions/setup-python@v4
        with:
          cache: pip
      - name: documentation generation
        run: |
          pip install -r requirements.txt
          mkdocs build # genere répertoire site/
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 
        
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run: make build
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/sysinfo
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=branch
            type=ref,event=tag
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}        