name: CI Python
on: 
  push:
    branches:
      - 'feature/**'
    tags:
      - 'v*.*.*'

jobs:
    Py-lint-mysystem:
        if: startsWith(github.ref, 'refs/heads/feature/')
        runs-on: ubuntu-latest
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
                cache: pip
            - name: lint verification
              run: |
                pip install ifaddr psutil pylint
                pylint --disable=missing-docstring script/mysystem/mysystem.py
            - name: Setup tmate session
              uses: mxschmitt/action-tmate@v3
              timeout-minutes: 30

                
    Py-run-mysystem:
        if: startsWith(github.ref, 'refs/heads/feature/')
        runs-on: ubuntu-latest
        needs: Py-lint-mysystem   
        steps:
            - name: sysinfo checkout
              uses: actions/checkout@v6
            - name: Python environment
              uses: actions/setup-python@v5
              with:
                python-version: 3.12
                cache: pip                
            - name: run script
              run: |
                pip install ifaddr psutil 
                python script/mysystem/mysystem.py       
